// Fonts

$font-nav: 700 16px "Nunito", Helvetica, sans-serif;

// Colors

$color-theme: #4154f1;
$color-heading: #012970;
$color-text: #444;
$color-nav: #013289;
$color-white: #fff;
$color-offwhite: #f6f9ff;
$color-offwhite-2: #ecf3ff;
$color-offwhite-3: #e1ecff;

$service-card-blue: #3867d6;
$service-card-green: #128046;
$service-card-orange: #ad581f;
$service-card-red: #ce324e;
$service-card-purple: #8f51cb;
$service-card-pink: #a66079;

$price-card-green: #128046;
$price-card-blue: #3867d6;
$price-card-red: #ce324e;
$price-card-purple: #8f51cb;

$color-link-active: #0e20be;

// Transitions

$ease-in-out-250: all 250ms ease-in-out;
$ease-in-out-150: all 150ms ease-in-out;

// Shadows

$shadow-6: 0 0 6px rgba(65, 84, 241, 0.16);
$shadow-12: 0 0 12px rgba(65, 84, 241, 0.16);
$shadow-16: 0 0 16px rgba(65, 84, 241, 0.16);
$shadow-24: 0 0 24px rgba(65, 84, 241, 0.16);

// Borders

$border-input: 1px solid #ced4da;
